<div id="overlay"></div>
<div id="modal" style="top: <%= dim.top %>px; left: <%= dim.left %>px;">
  <div class="modal__logo">
    <img src="/assets/trash_big.png" alt="delete-image" />
  </div>

  <div class="modal__header">
    Delete <%= model.modelType %>
  </div>

  <div class="modal__text">
    Are you sure you want to delete <span>
      <% if (model.modelType === 'Tag') { %>
        <%= model.escape('label') %>
      <% } else { %>
        <%= model.escape('title') %>
      <% } %>
      </span>?
  </div>

  <div class="modal__buttons">
    <button class="modal__buttons_button button_cancel">Cancel</button>
    <button class="modal__buttons_button button_confirm">Delete</button>
  </div>
</div>
