<ul class="sidebar__list clearfix">
  <a href='#'>
    <li class="sidebar__list__item--logo">
      <div class="sidebar__img--logo"> </div>
      <div class="sidebar__list__item__text"> QuiqNote </div>
    </li>
  </a>

  <a href='#/notes/new'>
    <li class="sidebar__list__item--new-note">
      <div class="sidebar__img--new-note"> </div>
      <div class="sidebar__list__item__text"> NEW NOTE </div>
    </li>
  </a>

  <a href='#/search'>
    <li class="sidebar__list__item--search">
      <div class="sidebar__img--search"> </div>
      <div class="sidebar__list__item__text"> SEARCH </div>
    </li>
  </a>

  <a href='#'>
    <li class="sidebar__list__item--notes">
      <div class="sidebar__img--notes"> </div>
      <div class="sidebar__list__item__text"> NOTES </div>
    </li>
  </a>

  <a href='#/notebooks'>
    <li class="sidebar__list__item--notebooks">
      <div class="sidebar__img--notebooks"> </div>
      <div class="sidebar__list__item__text"> NOTEBOOKS </div>
    </li>
  </a>

  <a href='#/shortcuts'>
    <li class="sidebar__list__item--shortcuts">
      <div class="sidebar__img--shortcuts"> </div>
      <div class="sidebar__list__item__text"> SHORTCUTS </div>
    </li>
  </a>

  <a href='#/tags'>
    <li class="sidebar__list__item--tags">
      <div class="sidebar__img--tags"> </div>
      <div class="sidebar__list__item__text"> TAGS </div>
    </li>
  </a>


  <li class="sidebar__list__item--log-out">
    <div class="sidebar__logout">
      <%= button_to 'log out', session_url, method: :delete %>
    </div>
  </li>
</ul>
