  <div id="main" class="full-height">
    <!-- <div class="nav navbar sidebar-padding"> -->
      <nav id="sidebar" class="navbar">
          <%= render partial: 'sidebar' %>
      </nav>
      <div id="content" class="container sidebar-padding">
      </div>
    <!-- </div> -->
  </div>
