<div class="container-fluid signup full-height">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center">
      <div class="row top-buffer-40"> <!-- header  -->
        <a href="/index"><%= image_tag 'logo-77px.png', alt: 'logo' %></a>
      </div>
      <div class="row signup__body__header">
        <h1>Sign in</h1>
      </div>
      <div class="row"> <!-- main box  -->
        <form class="signup__form" action="/session" method="post">
          <input type="hidden"
                 name="authenticity_token"
                 value="<%= form_authenticity_token %>">

          <ul class="signup__errors">
              <% flash[:errors].try(:each) do |error| %>
                <li> <%= "#{error}" %> </li>
              <% end %>
          </ul>
          <div class="signup__form__email">
            <label for="user_email">Email address</label>
            <input id="user_email"
                   type="text"
                   name="user[email]"
                   autocomplete="off"
                   maxlength="255"
                   value="<%= @user.email %>">
          </div>

          <div class="signup__form__password">
            <label for="user_password">Password</label>
            <input id="user_password" type="password" name="user[password]">
          </div>
          <div class="signup__form__buttons">
            <button class="signup__form__btn--submit" type="submit">Sign in</button>
            <button class="signup__form__btn--guest">Guest Login</button>
          </div>
        </form>
      </div>
      <div class="row signup__body__footer"> <!-- footer -->
        <span>Don't have an account?</span>
        <%= link_to 'Create Account', new_user_url %>
      </div>
    </div>
  </div>
</div>

<script charset="utf-8">
  $(document).ready(function() {
    $(".signup__form__btn--guest").on("click", function() {
      $("#user_email").val("guest@quiqnote.com")
      $("#user_password").val("quiqnote")
      $("form").submit()
    })
  })
</script>
