<div class="notebook--new__container">
  <div class="notebook--new__body">
    <div class="notebook--new__body__logo">
      <img src="/assets/create_notebook_big.png" alt="create-notebook-image" />
    </div>

    <div class="notebook--new__header">
      Create Notebook
    </div>

    <div class="notebook--new__text">
      <input type="text"
             name="title"
             id="notebook_title"
             value="<%= notebook.escape('title') %>"
             placeholder="Title your notebook"
             autocomplete="off">
    </div>

    <div class="notebook--new__buttons">
      <button class="notebook--new__button--cancel">Cancel</button>
      <button class="notebook--new__button--confirm">Confirm</button>
    </div>
  </div>
</div>
