<section class="row notebooks__header">
  <div class="col-sx-4 notebooks__header__text">
    Notebooks
  </div>
  <section class="col-sx-4 col-sx-offset-4 notebooks__special">
    <a href="#/trash">
      <div class="notebooks__trash"> </div>
    </a>
    <a href="#/notebooks/new">
      <div class="notebooks__create"> </div>
    </a>
  </section>
</section>
<div class="row">
  <ul class="col-xs-12 notebook__list"></ul>
</div>

<div class="help-button animated pulse">
  <i class="fa fa-question-circle"></i> <span class="explain-page">Explain this page</span>
</div>
