<% var numNotes = notebook.get('active_notes_count') %>

<a href="#/notebooks/<%= notebook.id %>">
  <div class="li_container">
    <div class="li_container">
      <div class="notebooks__list__item__container">
        <div class="notebooks__list__item__container__title">
          <%= QuiqNote.textTruncate(notebook.escape("title"), 40) %>
        </div>
        <div class="notebooks__list__item__container__content">
            <%= numNotes %> <%= QuiqNote.pluralizeNote(numNotes) %>
        </div>
      </div>
    </div>
  </div>
</a>
<div class="notebooks__list__item__actions">
  <% if ( !(notebook.escape("title") == "Default") ) { %>
    <div class="actions__img--trash"></div>
  <% } %>
</div>
