<div class="container-fluid signup full-height">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center">
      <div class="row top-buffer-40"> <!-- header  -->
        <a href="/index"><%= image_tag 'logo-77px.png', alt: 'logo' %></a>
      </div>
      <div class="row signup__body__header">
        <h1>Sign up</h1>
      </div>
      <div class="row"> <!-- main box  -->
        <form class="signup__form" action="/user" method="post">
          <input type="hidden"
                 name="authenticity_token"
                 value="<%= form_authenticity_token %>">

          <ul class="signup__errors">
             <% flash[:errors].try(:each) do |error| %>
               <li> <%= "#{error}" %> </li>
             <% end %>
          </ul>
          <div class="signup__form__email">
            <label for="user_email">Email address</label>
            <input id="user_email"
                   type="text"
                   name="user[email]"
                   autocomplete="off"
                   maxlength="255"
                   value="<%= @user.email %>">
          </div>
          <div class="signup__form__password">
            <label for="user_password">Password</label>
            <input id="user_password" type="password" name="user[password]">
          </div>
          <div class="signup__form__buttons">
            <button class="signup__form__btn--submit" type="submit">Sign up</button>
          </div>
        </form>
      </div>
      <div class="row">
        <button class="signup__form__btn--guest">Guest Login</button>
      </div>
      <div class="row signup__body__footer"> <!-- footer -->
        <span>Already have an account?</span>
        <%= link_to 'Sign in', new_session_url %>
      </div>
    </div>
  </div>
</div>

<form class="guest_hidden" action="/session" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
         <input type="password" name="user[password]" value="quiqnote">
         <input type="text"
                name="user[email]"
                value="guest@quiqnote.com">
</form>

<script>
  $(document).ready(function() {
    $(".signup__form__btn--guest").click(function(event) {
      $("form.guest_hidden").submit();
    })
  })
</script>
