
<a href="#/notes/<%= note.id %>">
  <div class="li_container">
    <div class="notes__list__item__container">
      <div class="notes__list__item__container__updated-time">
        <abbr class="timeago" title="<%= note.escape("updated_at") %>"></abbr>
      </div>
      <div class="notes__list__item__container__title">
        <%= QuiqNote.textTruncate(note.escape("title"), 40) %>
      </div>

      <% if (QuiqNote.compactView) {%>
        <div class="notes__list__item__container__content compact">
      <% } else { %>
          <div class="notes__list__item__container__content">
      <% } %>

        <%= QuiqNote.textTruncate(note.escape("content"), 200) %>
      </div>
    </div>
  </div>
</a>

<div class="notes__list__item__actions">
  <% if (!note.get('deleted')) { %>
    <div class="actions__img--trash"></div>
    <% if(note.get('shortcut')) { %>
      <div class="actions__img--shortcut"></div>
    <% } else { %>
      <div class="actions__img--noshortcut"></div>
    <% } %>
  <% } else { %>
    <button class="note__erase">Erase</button>
    <button class="note__restore">Restore</button>
  <% } %>
</div>
