<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 notes__body">
    <section class="notes__header"> <%= headerText %> </section>
    <section class="notes__stats">
      <span class="notes-counter">
        <%= notes.notes_count %> <%= QuiqNote.pluralizeNote(notes.notes_count) %>
      </span>
      <a class="compactLink" href="javascript:void(0)">
        <%= QuiqNote.compactView ? "Expand view" : "Compact view" %>
        </a>
      </section>
    <ul class="notes__list"></ul>
  </div>

  <% if (!(pageType && (pageType === "search" ||
            pageType === 'notebook' || pageType === 'tags')))  { %>
    <div class="help-button animated pulse">
      <i class="fa fa-question-circle"></i> <span class="explain-page">Explain this page</span>
    </div>
  <% } %>
</div>
