<div class="row search__body">
  <div class="search__input">
    <input id="search-query" type="text" placeholder="search notes">
  </div>
  <hr>
  <div class="search-results"> </div>
</div>

<div class="help-button animated pulse">
  <i class="fa fa-question-circle"></i> <span class="explain-page">Explain this page</span>
</div>
