<div id="overlay"></div>
<div id="modal" style="top: <%= dim.top %>px; left: <%= dim.left %>px;">
  <div class="modal__logo">
    <img src="/assets/share_note.png" alt="share-image" />
  </div>

  <div class="modal__header">
    Public Note URL
  </div>
  <% if( note.id ) { %>
  <div class="modal__text--share">
    Anyone with this URL can read your note once you click <span>Share</span>. <br>
    To deactive this URL, click <span>Stop sharing note</span>.
  </div>

  <input id="shared_url"
         type="text"
         value="http://www.quiqnote.com/shared/<%= note.get("shared_token") %>"
         readonly>

  <a class="stop-sharing" href="javascript:void(0)">Stop sharing note</a>

  <div class="modal__buttons">
    <button class="modal__buttons_button button_confirm">Share</button>
  </div>
  <% } else { %>
    <div class="modal__text--share">
      You first need to save your note before you can share it.
    </div>

    <input id="shared_url"
           type="text"
           value="N/A - First save your note"
           readonly>

   <div class="modal__buttons">
     <button class="modal__buttons_button button_cancel">Close</button>
   </div>

  <% } %>
</div>
