 /* layout and top-level settings*/
 body {
   font-family: $font-roboto;
   font-size: 16px;
 }

 ul {
   list-style-type: none;
   padding: 0;
 }

 a {
   text-decoration: none;
   color: #000;
 }

 a:hover {
   text-decoration: none;
   color: #000;
 }

 .shared-header {
   background-color: $darker-gray;
   font-size: 2em;
   padding: 5px 20px;
   font-weight: 200;
   a {
     color: #fff;
     &:hover {
       color: $bright-green;
     }
   }
 }

#main {
  overflow: scroll;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  color: rgb(150, 149, 152);
  background-color: rgb(248, 248, 248);
  border: 1px solid $list-broder-lt-gray;
  width: 180px;
}

#content {
  background-color: white;
}

.sidebar-padding {
  padding-left: 180px;
}

h1 {
  font-weight: 200;
}

.noTags-text {
  padding: 2em;
  color: $medium-gray;
  font-family: $font-roboto;
  font-weight: 300;

}

/* util */
.clearfix {
  content: "";
  display: block;
  clear: both;
}

.default-hidden {
  display: none;
}

.li_container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

abbr[title] {
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.font-small {
  font-size: 0.8em;
}

.help-button {
  position: fixed;
  left: 0px;
  bottom: 50px;
  cursor: pointer;
  color: $bright-green;
  font-weight: 300;
  border: 1px solid $light-gray;
  border-radius: 2px;
  padding: 4px 7px;
  background-color: $light-gray;
  &:hover {
    color: $darker-green-hover;
    border-color: $medium-gray;
  }
}
