@media screen and (max-width: 768px) {
  .sidebar__list__item__text {
      display: none !important;
  }

  .explain-page {
    display: none;
  }

  .tags-icon {
    display: none;
  }

  .notebook-icon {
    display: none;
  }

  .tags {
    margin-left: 10px;
  }

  #sidebar {
    width: 65px;
  }

  .sidebar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar-padding {
    padding-left: 65px;
  }

  [class*="sidebar__list__item--"] {
    cursor: pointer;
    float: left;
    font-size: .7em;
    margin-top: 10px;
  }

  .sidebar__logout {
    clear: both;
    form {
      margin-top: 20px;
      width: 36px;
    }
    [type="submit"] {
      line-height: 1.4;
      white-space: normal;
      text-align: center;
      cursor: pointer;
      border-radius: 5px;
      display: inline-block;
      padding: 5% 40%;
      font-family: gotham, helvetica, arial, sans-serif;
      font-size: 1.1em;
      font-weight: 500;
      color: $darker-gray;
      background-color: #ececec;
      border: 1px solid $light-gray;
      &:hover {
        background-color: $light-gray;
      }
    }
  }

  #search-query {
    font-size: 2em;
  }
}
