/* modal */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  opacity: 0.97;
}

#modal {
  position: absolute;
  width: 650px;
  height: 306px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  padding:20px;
  opacity: 0.98;
}

#delete, #cancel {
  margin: 10px 2px 2px 2px;
}

.modal__logo {
}

.modal__header {
  margin: 40px auto 10px auto;
  padding-bottom: 10px;
  font-size: .8em;
  font-weight: 300;
  border-bottom: 1px solid $light-gray;
  text-transform: uppercase;
  width: 40%;
}

.modal__text {
  margin-top: 40px;
  font-weight: 300;
  font-size: 1.5em;
  span {
    font-weight: 400;
  }
}

.modal__buttons {
  margin-top: 60px;
}

.modal__buttons_button {
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  margin: 0 4px;
  padding: 9px 71px;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.button_cancel {
  color: $darker-gray;
  background-color: #ececec;
  border: 1px solid $light-gray;
  &:hover {
    background-color: $light-gray;
  }
}

.button_confirm {
  color: white;
  border: 1px solid #2dbe60;
  background-color: #2dbe60;
  &:hover {
    background-color: $darker-green-hover;
  }
}
