@import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,400);

// Using loosely BEM CSS formatting styles

/* variables */

$list-broder-lt-gray: rgb(236, 236, 236);

$bright-green: #2DBE60;
$light-gray: #d9d9d9;

// content and updated at time
$medium-gray: #878787;
$darker-gray: #606060;
$darker-green-hover: #28a955;
$font-roboto: Roboto, helvetica, arial, sans-serif;
$notebook-dark-header: rgb(57, 61, 65);
$index-item-stats: #ababab;
$index-item-title: #4a4a4a;

.background-url-settings {
  background-repeat: no-repeat;
}
