.search__body {
  width: 100%;
  padding-left: 65px;
  padding-top: 30px;
}

hr {
  border: none;
  border-bottom: 1px solid #ECECEC;
}

#search-query {
  outline-width: 0;
  margin: 0;
  padding: 0;
  border: none;
  color: $darker-gray;
  font-size: 4em;
  font-weight: 400;
  letter-spacing: -0.3px;
  &::-webkit-input-placeholder { /* WebKit browsers */
    color: #ECECEC;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color: #ECECEC;
     opacity:  1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: #ECECEC;
     opacity:  1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
     color: #ECECEC;
  }
}


// Tags typeahead
// .tt-input {
// }

.tt-hint {
  // color: #999;
  color: rgba(43, 181, 92, 0.6);
}

.tt-dropdown-menu {
  width: 150px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.tt-suggestion {
  padding: 2px 10px;
  line-height: 1.3em;
  font-size: 0.8em;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: $bright-green;

}

.tt-suggestion p {
  margin: 0;
}
