.signup {
  background-color: #F3F3F3;
  border-top: 3px solid $bright-green;
}

.full-height {
  height: 100vh;
}

.top-buffer-40 {
  margin-top: 40px;
}

.signup__body__header {
  font-size: 2em;
  font-weight: 200;
  color: $bright-green;
  margin-bottom: 0.5em;
}

.signup__body__footer {
  margin-top: 1.5em;
  font-size: 1.3em;
  font-weight: 200;
  span {
    font-size: .6em;
    display: block;
    font-weight: 300;
    color: $darker-gray;
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
    color: $bright-green;
    &:hover {
      border-bottom: 1px solid #28a956;
      color: #28a956;
    }
  }
}

.signup__form {
  border: 1px solid #dedede;
  border-radius: 2px;
  text-align: left;
  background-color: #fff;
  padding: 1.5em;
  label {
    font-size: .8em;
    display: block;
    color: #757575;
    letter-spacing: .1em;
    font-weight: 300;
    margin-bottom: .6em;
  }
}

.signup__form__email,
.signup__form__password {
  margin-bottom: .7em;
  input {
    width: 100%;
    border: 1px solid #CACACA;
    outline-width: 0;
    font-size: 1.3em;
    height: 2em;
    border-radius: 2px;
    padding-left: .8em;
    box-sizing: border-box;
    font-weight: 100;


  }
}

.signup__form__buttons {
  margin-top: 2.2em;
}

.signup__form__btn--submit,
.signup__form__btn--guest {
  display: block;
  font-weight: 300;
  color: #fff;
  border-radius: 2px;
  width: 100%;
  cursor: pointer;
  padding: 1em;
  transition: background 0.2s ease;
  letter-spacing: .1em;
  &:hover {
    background-color: #28a956;
    border-color: #1b9848;
  }
}

.signup__form__btn--submit {
  background-color: #2dbe60;
  border: 1px solid #1fae52;
  font-size: 1em;
  &:hover {
    background-color: #28a956;
    border-color: #1b9848;
  }
}

.signup__form__btn--guest {
  font-size: .7em;
  margin-top: 1.5em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: $darker-gray;
  background-color: #ececec;
  border: 1px solid $light-gray;
  &:hover {
    background-color: $light-gray;
    border: 1px solid $light-gray;
  }
}

.signup__errors {
  font-size: .7em;
  color: #984d47;
  padding-bottom: 10px;
  li {
    padding: 3px 0;
  }
}

.guest_hidden {
  display: none;
}
