<div class="shared-header">
  <a href="<%= index_url %>">QuiqNote<a/>
</div>

<div class="note__body">
  <div class="note__body__header">
    <div class="note__body__header__notebooks"> </div>
  </div>

  <div class="note__body__title">
    <input type="text"
           id="note_title"
           name="title"
           value="<%= @note.title %>"
           disabled>
  </div>
  <div class="note__body__editor">
    <div id="full-toolbar" class="full-toolbar">
    </div>

    <div id="full-editor" class="full-editor">
      <%= @note.content_html.html_safe %>

    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var editor = new Quill('#full-editor', { theme: 'snow' });
    editor.editor.disable();
  });
</script>
