<!DOCTYPE html>
<html lang="en">
<head>
  <title>QuiqNote</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'logo.ico' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1" />
</head>
<body>

  <%= yield %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66360666-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
