<% var numNotes = tag.get('active_notes_count') %>

<a href="#/tags/<%= tag.id %>">
  <div class="row li_container">
    <div class="notebooks__list__item__container">
      <div class="notebooks__list__item__container__title">
        <%= tag.escape("label") %>
      </div>
      <div class="notebooks__list__item__container__content">
        <%= numNotes %> <%= QuiqNote.pluralizeNote(numNotes) %>
      </div>
    </div>
  </div>
</a>
<div class="notebooks__list__item__actions">
  <div class="actions__img--trash"></div>
</div>
