<div class="col-sx-8 col-sx-offset-2 col-lg-6 col-lg-offset-3 notebooks__body">
  <section class="row notebooks__header">
    <div class="notebooks__header__text">
      Tags
    </div>
  </section>
  <ul class="row notebook__list"></ul>
</div>

<div class="help-button animated pulse">
  <i class="fa fa-question-circle"></i> <span class="explain-page">Explain this page</span>
</div>
